<footer class="place-content-center bg-black text-white p-4 mt-auto">
    <div class="container mx-auto text-center">
        <p>&copy; 2023 Seu Nome. Todos os direitos reservados.</p>
    </div>
</footer>
